<div class="Jumbotron" style="padding: 45px 0px">
    <div class="text-center">To Do List App</div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
            <div class="input-group">
                    <input type="text" class="form-control" #itemTitle>
                    <div class="input-group-addon hover-cursor"(click)="onAdd(itemTitle)">
                            <i class='fa fa-plus-circle fa-2x'></i>
                    </div>
            </div>
                
    </div>
    <div class="col-3"></div>
    
    <div class="col-3"></div>
    <div class="col-6">
        <div style="margin: 5px 0px">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of toDoListArray">
                    <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                        <i class="fa fa-lg" [ngClass]="item.isChecked? 'fa-check-circle-o': 'fa-circle-thin'"></i>
                    </span>
                    {{item.title}}
                    <span class="hover-cursor text-danger pull-right">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
