<p>home works!</p>

<!-- This line of code means home page will only be opened if a user has logged in and the user data are relevant -->

<p *ngIf="user"> Logged in as:{{user?.email}} </p> 
<!--  - {{user?.displayName}} -->

<button type="button" class="btn btn-primary" *ngIf="!user" (click)="Register()">Register</button>
<button type="button" class="btn btn-primary" *ngIf="user" (click)="logout()">logout</button>
<button type="button" class="btn btn-primary" *ngIf="!user" (click)="login()">login</button>