<p>finelogin works!</p>

<div class="container  bluewhite" >
    <div class="blueside text-left" style="padding-left: 90px;">
        <div class=""style="margin-top:100px; font-weight: bold; color: white;"> <h1> Welcome</h1></div>
        <p style="color: white; margin-top: 50px;">We are the best in the universe, <br />There are multiples world where
             <br /> we have super herbs based on <br /> logistics. The reality is THIS IS <br /> LAGOS</p>
    
        <button type="button" class="btn btn-primary text-center"style="border-radius: 30px; color:blue; background-color:green;">More</button>
    </div>

    <div class="whitebg">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center" style=" color: white;">
                <h1 style="margin: 40px 0px 30px 0px; ">Signin </h1>
                <input type="text" class="form-control mb-4"placeholder=" Enter Usename" >
                <input type="password" class="form-control mb-4" placeholder=" Enter password.." >
                <h3> forget password</h3>
                <button type="button" class="btn btn-block" style="margin:20px 0px 40px 0px; border-radius: 40px;background-color: blue; color: white;">LOGIN</button>
            </div>
            <div class="col-3"></div>
        </div>   
    </div>
</div>

<div class=" text-center" style="position: relative; margin: 20% 0px 0px 44%;">
        <div class="" style="border-radius: 50%; background-color: white; height: 50px; width: 50px; 
        position: absolute; float:right; padding: 10px;"></div>
        <div class="" style="border-radius: 50%; position: relative; background-color: blue;
         height: 20px; width: 20px;">
        </div>
</div>
    
