.bluewhite{
    margin-top: 70px;
}

.blueside{
    position: absolute;
    background-color: blue;
    width: 45%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
   
}
.whitebg{
    position: relative;
    float: right;
    background-color: green;
    width: 55%;
    border-radius: 25px;
    height: 60%;

}
input [type="text"]{
    background-color: none;
    border: 1px solid black;
}
input [type="password"]{
    background-color: blue;
    border: 1px solid black;
}