
<div class="row mt-4">
    <div class="col-12">
        <h4> User registration</h4>
    </div>

    <div class="col-12">
        <div class="row" *ngIf="authError">
            <div class="col-12 alert alert-danger">
                {{ authError?.message }}    
            </div>
        </div>

        <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="firstname"> First name</label>
                    <input ngModel #firstname="ngModel" name="firstname" type="text"class="form-control">
                </div>

                <div class="col-md-6 mb-2">
                    <label for="firstname"> last name</label>
                    <input ngModel #lastname="ngModel" name="lastname" type="text" class="form-control">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="email"> Email</label>
                    <input ngModel #email="ngModel" name="email" type="text"class="form-control"> 
                </div>

                <div class="col-md-12 mb-2">
                    <label for="password"> password</label>
                    <input ngModel #password="ngModel" name="password" type="password" class="form-control"> 
                </div>

                <div class="col-md-12 mb-2">
                    <label for="password"> confirm password</label>
                    <input ngModel #password="ngModel" name="password" type="password" class="form-control"> 
                </div>

                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>